<% if form.object.errors.any? %>
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <% form.object.errors.full_messages.each do |msg| %>
      <div><%= msg %></div>
    <% end %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>